In [185]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [186]:
path = r'/Monthly Data'                     
all_files = glob.glob(os.path.join(path,"*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f, parse_dates=["FL_DATE"]).rename(columns=str.lower) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [3]:
concatenated_df = concatenated_df.iloc[:, :-1]

In [4]:
concatenated_df.head()

,fl_date,unique_carrier,airline_id,carrier,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,...,arr_delay_group,arr_time_blk,cancelled,diverted,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,distance_group
0,2014-01-01,AA,19805,AA,N002AA,2377,12278,1227802,30928,ICT,...,0.0,1300-1359,0.0,0.0,85.0,78.0,57.0,1.0,328.0,2
1,2014-01-01,AA,19805,AA,N3FXAA,2378,13303,1330303,32467,MIA,...,-1.0,2300-2359,0.0,0.0,60.0,55.0,37.0,1.0,204.0,1
2,2014-01-01,EV,20366,EV,N906EV,2500,11298,1129803,30194,DFW,...,NaN,2200-2259,1.0,0.0,60.0,NaN,NaN,1.0,247.0,1
3,2014-01-01,EV,20366,EV,N903EV,2502,11146,1114603,31146,CRW,...,4.0,1900-1959,0.0,0.0,185.0,180.0,150.0,1.0,946.0,4
4,2014-01-01,EV,20366,EV,N903EV,2502,11298,1129803,30194,DFW,...,4.0,1600-1659,0.0,0.0,125.0,115.0,101.0,1.0,946.0,4

In [5]:
print(concatenated_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819811 entries, 0 to 5819810
Data columns (total 50 columns):
fl_date                  datetime64[ns]
unique_carrier           object
airline_id               int64
carrier                  object
tail_num                 object
fl_num                   int64
origin_airport_id        int64
origin_airport_seq_id    int64
origin_city_market_id    int64
origin                   object
origin_city_name         object
origin_state_abr         object
origin_state_fips        int64
origin_state_nm          object
origin_wac               int64
dest_airport_id          int64
dest_airport_seq_id      int64
dest_city_market_id      int64
dest                     object
dest_city_name           object
dest_state_abr           object
dest_state_fips          int64
dest_state_nm            object
dest_wac                 int64
crs_dep_time             int64
dep_time                 float64
dep_delay                float64
dep_delay_new            float64
dep_del15                float64
dep_delay_group          float64
dep_time_blk             object
taxi_out                 float64
wheels_off               float64
wheels_on                float64
taxi_in                  float64
crs_arr_time             int64
arr_time                 float64
arr_delay                float64
arr_delay_new            float64
arr_del15                float64
arr_delay_group          float64
arr_time_blk             object
cancelled                float64
diverted                 float64
crs_elapsed_time         float64
actual_elapsed_time      float64
air_time                 float64
flights                  float64
distance                 float64
distance_group           int64
dtypes: datetime64[ns](1), float64(21), int64(15), object(13)
memory usage: 2.2+ GB
None

In [90]:
#dictionaries
airport_id = pd.read_csv('/L_AIRPORT_ID.csv')
carrier_his =pd.read_csv('/L_CARRIER_HISTORY.csv')

In [7]:
airport_id.head()

    Code                                    Description
0  10001         Afognak Lake, AK: Afognak Lake Airport
1  10003  Granite Mountain, AK: Bear Creek Mining Strip
2  10004                       Lik, AK: Lik Mining Camp
3  10005         Little Squaw, AK: Little Squaw Airport
4  10006                     Kizhuyak, AK: Kizhuyak Bay

In [8]:
carrier_his.head()

  Code                              Description
0  02Q                  Titan Airways (2006 - )
1  04Q             Tradewind Aviation (2006 - )
2  05Q        Comlux Aviation, AG (2006 - 2012)
3  06Q  Master Top Linhas Aereas Ltd. (2007 - )
4  07Q            Flair Airlines Ltd. (2007 - )

In [9]:
df =concatenated_df[concatenated_df['cancelled']==0]

In [94]:
concatenated_df.airline_id.unique()

array([19805, 20366, 20436, 20437, 19690, 20398, 19930, 20409, 19790,
       20304, 19977, 20355, 21171, 19393])

In [10]:
# What is the 15th most flown route? 
flown_rotes = pd.DataFrame(df.groupby(['origin_city_name', 'dest_city_name'])['flights'].count().sort_values(ascending=False))

In [11]:
flown_rotes=flown_rotes.reset_index()

In [12]:
flown_rotes

                        origin_city_name      dest_city_name  flights
0                      San Francisco, CA     Los Angeles, CA    12977
1                        Los Angeles, CA   San Francisco, CA    12963
2                           New York, NY         Chicago, IL    12552
3                            Chicago, IL        New York, NY    12534
4                           New York, NY     Los Angeles, CA    12413
5                        Los Angeles, CA        New York, NY    12405
6                          Las Vegas, NV     Los Angeles, CA    11661
7                        Los Angeles, CA       Las Vegas, NV    11358
8                             Boston, MA      Washington, DC    10539
9                         Washington, DC         Chicago, IL    10356
10                           Atlanta, GA        New York, NY    10302
11                          New York, NY         Atlanta, GA    10293
12                           Chicago, IL      Washington, DC    10267
13                        Washington, DC          Boston, MA    10236
14                           Atlanta, GA      Washington, DC    10231
15                       Los Angeles, CA         Chicago, IL    10101
16                        Washington, DC         Atlanta, GA    10098
17                           Chicago, IL         Atlanta, GA     9844
18                           Atlanta, GA         Chicago, IL     9832
19                           Chicago, IL     Los Angeles, CA     9805
20                            Dallas, TX         Houston, TX     9707
21                          Honolulu, HI         Kahului, HI     9702
22                           Houston, TX          Dallas, TX     9669
23                           Kahului, HI        Honolulu, HI     9635
24                          New York, NY           Miami, FL     9581
25                             Miami, FL        New York, NY     9570
26                           Houston, TX         Atlanta, GA     9517
27                           Atlanta, GA         Houston, TX     9421
28                            Boston, MA        New York, NY     9415
29                          New York, NY          Boston, MA     9405
...                                  ...                 ...      ...
4320                    Philadelphia, PA      Cincinnati, OH        1
4321                        Syracuse, NY  Raleigh/Durham, NC        1
4322          Cedar Rapids/Iowa City, IA       Lexington, KY        1
4323                    Philadelphia, PA     Kansas City, MO        1
4324                    Philadelphia, PA      Louisville, KY        1
4325                         Lincoln, NE     Minneapolis, MN        1
4326                      Charleston, SC         Norfolk, VA        1
4327                     Kansas City, MO    Philadelphia, PA        1
4328                        Syracuse, NY  Salt Lake City, UT        1
4329                      Washington, DC     Baton Rouge, LA        1
4330                        Syracuse, NY      Burlington, VT        1
4331                        Savannah, GA       Milwaukee, WI        1
4332                     Minneapolis, MN         Lincoln, NE        1
4333                     Minneapolis, MN       Lexington, KY        1
4334                  Salt Lake City, UT      Charleston, SC        1
4335                        Hartford, CT  Salt Lake City, UT        1
4336           Newburgh/Poughkeepsie, NY         Atlanta, GA        1
4337                         Norfolk, VA  Salt Lake City, UT        1
4338                         Bozeman, MT        Billings, MT        1
4339                      Washington, DC       Lexington, KY        1
4340                  Salt Lake City, UT        Columbus, OH        1
4341                       Nashville, TN      Birmingham, AL        1
4342                      Washington, DC         Madison, WI        1
4343                     Little Rock, AR          Peoria, IL        1
4344  Bristol/Johnson City/Kingsport, TN         Roanoke, VA        1
4345                       Nashville, TN           Omaha, NE        1
4346                           Omaha, NE       Charlotte, NC        1
4347                         Buffalo, NY    Philadelphia, PA        1
4348                           Omaha, NE   San Francisco, CA        1
4349                 Fort Lauderdale, FL  Salt Lake City, UT        1

[4350 rows x 3 columns]

In [101]:

flown_rotes['line'] = flown_rotes.apply(lambda r: tuple(sorted([r['origin_city_name'], r['dest_city_name']])), axis=1)

pd.DataFrame (flown_rotes.groupby('line')['flights'].sum().sort_values(ascending=False))

#Boston, MA, New York, NY)  18820

                                             flights
line
(Los Angeles, CA, San Francisco, CA)           25940
(Chicago, IL, New York, NY)                    25086
(Los Angeles, CA, New York, NY)                24818
(Las Vegas, NV, Los Angeles, CA)               23019
(Boston, MA, Washington, DC)                   20775
(Chicago, IL, Washington, DC)                  20623
(Atlanta, GA, New York, NY)                    20595
(Atlanta, GA, Washington, DC)                  20329
(Chicago, IL, Los Angeles, CA)                 19906
(Atlanta, GA, Chicago, IL)                     19676
(Dallas, TX, Houston, TX)                      19376
(Honolulu, HI, Kahului, HI)                    19337
(Miami, FL, New York, NY)                      19151
(Atlanta, GA, Houston, TX)                     18938
(Boston, MA, New York, NY)                     18820
(New York, NY, Washington, DC)                 18770
(New York, NY, Orlando, FL)                    18445
(New York, NY, San Francisco, CA)              17653
(Los Angeles, CA, Phoenix, AZ)                 17462
(Chicago, IL, San Francisco, CA)               17378
(Boston, MA, Chicago, IL)                      16766
(Atlanta, GA, Orlando, FL)                     16691
(Los Angeles, CA, San Diego, CA)               16480
(Fort Lauderdale, FL, New York, NY)            16190
(Los Angeles, CA, San Jose, CA)                16081
(Chicago, IL, Denver, CO)                      15961
(Las Vegas, NV, San Francisco, CA)             15870
(Denver, CO, Phoenix, AZ)                      15843
(Dallas/Fort Worth, TX, Los Angeles, CA)       15510
(Dallas/Fort Worth, TX, Houston, TX)           15308
...                                              ...
(Cleveland, OH, Portland, ME)                      1
(Cleveland, OH, Erie, PA)                          1
(Atlanta, GA, Macon, GA)                           1
(Oklahoma City, OK, Tulsa, OK)                     1
(Houston, TX, Santa Fe, NM)                        1
(Nashville, TN, Omaha, NE)                         1
(Nashville, TN, Oklahoma City, OK)                 1
(Aspen, CO, Grand Junction, CO)                    1
(Bangor, ME, Charlotte, NC)                        1
(Cedar Rapids/Iowa City, IA, Lexington, KY)        1
(Charleston, SC, Norfolk, VA)                      1
(Charleston, SC, Wilmington, NC)                   1
(Milwaukee, WI, Philadelphia, PA)                  1
(Milwaukee, WI, Savannah, GA)                      1
(Knoxville, TN, Lansing, MI)                       1
(Minneapolis, MN, Moline, IL)                      1
(Charlotte, NC, Milwaukee, WI)                     1
(Kansas City, MO, Rapid City, SD)                  1
(Baltimore, MD, Cincinnati, OH)                    1
(Charlottesville, VA, Philadelphia, PA)            1
(El Paso, TX, Hobbs, NM)                           1
(Jamestown, ND, Minot, ND)                         1
(Evansville, IN, Indianapolis, IN)                 1
(Fayetteville, AR, Tulsa, OK)                      1
(Arcata/Eureka, CA, Medford, OR)                   1
(Asheville, NC, Greer, SC)                         1
(Indianapolis, IN, Raleigh/Durham, NC)             1
(Indianapolis, IN, Memphis, TN)                    1
(Fort Lauderdale, FL, Mobile, AL)                  1
(Fargo, ND, Newark, NJ)                            1

[2213 rows x 1 columns]

In [105]:
carrier = pd.DataFrame(df.groupby(['carrier'])['flights'].count().sort_values(ascending=False))
carrier

         flights
carrier
WN       1159468
DL        793873
EV        651893
OO        594722
AA        529240
UA        486198
US        407928
MQ        371545
B6        243617
AS        159498
F9         85117
FL         77979
HA         74574
VX         57175

In [117]:

import plotly.plotly as py
import plotly.graph_objs as go
import plotly 
plotly.tools.set_credentials_file(username='natalia_k', api_key='###')

In [118]:
trace = go.Pie(labels=carrier.index, values=carrier.flights)

py.iplot([trace], filename='carrier_pie_chart')

In [122]:
#What carrier has flown the 3rd most number of flights? How many? 
#57	EV	ExpressJet Airlines Inc. (2012 - )  651893
carrier_his[carrier_his['Code']=='OO']

     Code                      Description
1183   OO  SkyWest Airlines Inc. (2003 - )

In [16]:
df['dep_delay_ind'] = np.where(df['dep_delay_new']>0, 'Delay', 'In_time')
df['arr_delay_ind'] = np.where(df['arr_delay_new']>0, 'Delay', 'In_time')

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [17]:
df.head()

,fl_date,unique_carrier,airline_id,carrier,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,...,cancelled,diverted,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,distance_group,dep_delay_ind,arr_delay_ind
0,2014-01-01,AA,19805,AA,N002AA,2377,12278,1227802,30928,ICT,...,0.0,0.0,85.0,78.0,57.0,1.0,328.0,2,Delay,Delay
1,2014-01-01,AA,19805,AA,N3FXAA,2378,13303,1330303,32467,MIA,...,0.0,0.0,60.0,55.0,37.0,1.0,204.0,1,In_time,In_time
3,2014-01-01,EV,20366,EV,N903EV,2502,11146,1114603,31146,CRW,...,0.0,0.0,185.0,180.0,150.0,1.0,946.0,4,Delay,Delay
4,2014-01-01,EV,20366,EV,N903EV,2502,11298,1129803,30194,DFW,...,0.0,0.0,125.0,115.0,101.0,1.0,946.0,4,Delay,Delay
5,2014-01-01,EV,20366,EV,N876AS,2503,10279,1027903,30279,AMA,...,0.0,0.0,65.0,104.0,43.0,1.0,312.0,2,In_time,Delay

In [58]:
airport_delays = pd.crosstab(  df.dep_delay_ind,df.origin_airport_id,margins=True)
airport_delays

origin_airport_id,10135,10136,10140,10141,10146,10154,10155,10157,10158,10165,...,15497,15582,15607,15624,15841,15897,15919,15991,16218,All
dep_delay_ind,,,,,,,,,,,,,,,,,,,,,
Delay,386,886,10920,126,229,115,535,949,105,44,...,104,47,228,1388,173,37,3655,173,646,2319283
In_time,1187,1821,13400,608,753,278,1148,1838,373,54,...,68,461,765,3486,539,229,6384,545,2242,3373544
All,1573,2707,24320,734,982,393,1683,2787,478,98,...,172,508,993,4874,712,266,10039,718,2888,5692827

In [19]:
airport_delays_perc = (airport_delays/airport_delays.ix["All"]).T

In [20]:
top_delay_airports = airport_delays_perc.sort_values(by=['Delay'], ascending =False).reset_index()

In [21]:
less_flown_airpors = airport_delays.T.sort_values(by=['All']).reset_index()

In [138]:
delay_airp= pd.merge(top_delay_airports, less_flown_airpors, how='left', on=['origin_airport_id', 'origin_airport_id']).reset_index()

In [145]:

delay_airp[['origin_airport_id', 'Delay_x']][1:11]

dep_delay_ind origin_airport_id   Delay_x
1                         12016  0.657382
2                         13232  0.625680
3                         11259  0.616779
4                         15497  0.604651
5                         11997  0.588235
6                         12191  0.574576
7                         13796  0.540439
8                         10821  0.539204
9                         14222  0.526786
10                        11292  0.515011

In [148]:
df[(df.dep_delay_ind=='Delay') & (df.origin_airport_id.isin(airports)) ].dep_delay_new.mean()

29.466197844653642

In [153]:
df.origin_city_name[df.origin_airport_id==15497]

473821     St. Augustine, FL
473922     St. Augustine, FL
503565     St. Augustine, FL
507012     St. Augustine, FL
533052     St. Augustine, FL
565177     St. Augustine, FL
565406     St. Augustine, FL
569227     St. Augustine, FL
594390     St. Augustine, FL
594571     St. Augustine, FL
601128     St. Augustine, FL
631433     St. Augustine, FL
633951     St. Augustine, FL
663586     St. Augustine, FL
663806     St. Augustine, FL
692663     St. Augustine, FL
696033     St. Augustine, FL
696204     St. Augustine, FL
721384     St. Augustine, FL
729395     St. Augustine, FL
755584     St. Augustine, FL
788091     St. Augustine, FL
788135     St. Augustine, FL
792983     St. Augustine, FL
820615     St. Augustine, FL
820774     St. Augustine, FL
826288     St. Augustine, FL
849478     St. Augustine, FL
858554     St. Augustine, FL
888177     St. Augustine, FL
                 ...
5324162    St. Augustine, FL
5352164    St. Augustine, FL
5384383    St. Augustine, FL
5415463    St. Augustine, FL
5468553    St. Augustine, FL
5468637    St. Augustine, FL
5475643    St. Augustine, FL
5504433    St. Augustine, FL
5504592    St. Augustine, FL
5513658    St. Augustine, FL
5528213    St. Augustine, FL
5544664    St. Augustine, FL
5569041    St. Augustine, FL
5569143    St. Augustine, FL
5594632    St. Augustine, FL
5601677    St. Augustine, FL
5601683    St. Augustine, FL
5631048    St. Augustine, FL
5635067    St. Augustine, FL
5692588    St. Augustine, FL
5692788    St. Augustine, FL
5698109    St. Augustine, FL
5720032    St. Augustine, FL
5720208    St. Augustine, FL
5730325    St. Augustine, FL
5757856    St. Augustine, FL
5762078    St. Augustine, FL
5791689    St. Augustine, FL
5791930    St. Augustine, FL
5813846    St. Augustine, FL
Name: origin_city_name, dtype: object

In [86]:
airports = list (delay_airp.origin_airport_id[1:11] )
airports

[12016, 13232, 11259, 15497, 11997, 12191, 13796, 10821, 14222, 11292]

In [93]:
#airpors with most delays
airport_id[airport_id['Code'].isin(airports)]
#airport_id.Code.astype('int64')

       Code                                        Description
792   10821  Baltimore, MD: Baltimore/Washington Internatio...
1214  11259                      Dallas, TX: Dallas Love Field
1245  11292                   Denver, CO: Denver International
1920  11997                     Gustavus, AK: Gustavus Airport
1938  12016                       Guam, TT: Guam International
2106  12191                       Houston, TX: William P Hobby
3098  13232          Chicago, IL: Chicago Midway International
3644  13796    Oakland, CA: Metropolitan Oakland International
4054  14222             Pago Pago, TT: Pago Pago International
5254  15497      St. Augustine, FL: Northeast Florida Regional

In [154]:
airport_id[airport_id['Code']==10821]

      Code                                        Description
792  10821  Baltimore, MD: Baltimore/Washington Internatio...

In [97]:
concatenated_df['week'] = concatenated_df['fl_date'].dt.weekday

In [ ]:
concatenated_df.groupby(['week'])['flights'].count().sort_values(ascending=False)

In [ ]:
concatenated_df[concatenated_df['week']==2].groupby(['fl_date'])['flights'].count().sort_values(ascending=False)

In [ ]:
fig, ax = plt.subplots(figsize=(15, 5))

sns.bplot(x='week', y='flights', data=concatenated_df, ax=ax)
sns.despine()

In [124]:
df['month'] = concatenated_df['fl_date'].dt.month
carrier = pd.DataFrame(df.groupby(['month'])['flights'].count())

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [125]:
carrier

       flights
month
1       441097
2       406883
3       493910
4       477937
5       489765
6       492484
7       512490
8       501542
9       462713
10      485805
11      457753
12      470448

In [136]:
trace = go.Scatter(
    x = ('Jan', 'Feb', 'Mar', 'Apr', 'May','June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'),
    y = carrier.flights
)

data = [trace]

py.iplot(data, filename='monthly-flights')

In [130]:
week_flights = pd.DataFrame(concatenated_df.groupby(['week'])['flights'].count())

In [133]:
trace = go.Scatter(
    x = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'),
    y = week_flights.flights
)

data = [trace]

py.iplot(data, filename='weekly-flights')

In [159]:
day_flights = pd.DataFrame(concatenated_df[concatenated_df.cancelled>0].groupby(['fl_date'])['flights'].count())

In [160]:
trace = go.Scatter(
    x = day_flights.index,
    y = day_flights.flights
)

data = [trace]

py.iplot(data, filename='daily-cancelled-flights')

In [165]:
concatenated_df.flights.count()

5819811

In [166]:
126984/5819811

0.021819265264799836

In [179]:
#delays
2319283/5819811

0.39851517514915863

In [178]:
df[df.dep_delay_ind=="Delay"].count()

fl_date                  2319283
unique_carrier           2319283
airline_id               2319283
carrier                  2319283
tail_num                 2319283
fl_num                   2319283
origin_airport_id        2319283
origin_airport_seq_id    2319283
origin_city_market_id    2319283
origin                   2319283
origin_city_name         2319283
origin_state_abr         2319283
origin_state_fips        2319283
origin_state_nm          2319283
origin_wac               2319283
dest_airport_id          2319283
dest_airport_seq_id      2319283
dest_city_market_id      2319283
dest                     2319283
dest_city_name           2319283
dest_state_abr           2319283
dest_state_fips          2319283
dest_state_nm            2319283
dest_wac                 2319283
crs_dep_time             2319283
dep_time                 2319283
dep_delay                2319283
dep_delay_new            2319283
dep_del15                2319283
dep_delay_group          2319283
dep_time_blk             2319283
taxi_out                 2319283
wheels_off               2319283
wheels_on                2317504
taxi_in                  2317504
crs_arr_time             2319283
arr_time                 2317504
arr_delay                2311360
arr_delay_new            2311360
arr_del15                2311360
arr_delay_group          2311360
arr_time_blk             2319283
cancelled                2319283
diverted                 2319283
crs_elapsed_time         2319282
actual_elapsed_time      2311360
air_time                 2311360
flights                  2319283
distance                 2319283
distance_group           2319283
dep_delay_ind            2319283
arr_delay_ind            2319283
month                    2319283
dtype: int64

In [169]:
delay_groups=pd.DataFrame(df[df.dep_delay_ind=="Delay"].groupby(["dep_delay_group"])["flights"].count())

In [171]:
delay_groups

                 flights
dep_delay_group
0.0              1126034
1.0               456865
2.0               236532
3.0               142380
4.0                92801
5.0                63310
6.0                45827
7.0                34392
8.0                25721
9.0                19621
10.0               15559
11.0               12019
12.0               48222

In [177]:
trace = go.Pie(
    labels = ('0-15', '15-30', '30-45', '45-60', '60-75', '75-90', '90-105', '105-120', '120-135', '135-150', '150-165', '165-180'),
    values = delay_groups.flights
)

data = [trace]

py.iplot(data, filename='daily-cancelled-flights')

In [180]:
df[df.diverted==1].count()

fl_date                  14449
unique_carrier           14449
airline_id               14449
carrier                  14449
tail_num                 14449
fl_num                   14449
origin_airport_id        14449
origin_airport_seq_id    14449
origin_city_market_id    14449
origin                   14449
origin_city_name         14449
origin_state_abr         14449
origin_state_fips        14449
origin_state_nm          14449
origin_wac               14449
dest_airport_id          14449
dest_airport_seq_id      14449
dest_city_market_id      14449
dest                     14449
dest_city_name           14449
dest_state_abr           14449
dest_state_fips          14449
dest_state_nm            14449
dest_wac                 14449
crs_dep_time             14449
dep_time                 14449
dep_delay                14449
dep_delay_new            14449
dep_del15                14449
dep_delay_group          14449
dep_time_blk             14449
taxi_out                 14449
wheels_off               14449
wheels_on                11805
taxi_in                  11805
crs_arr_time             14449
arr_time                 11805
arr_delay                    0
arr_delay_new                0
arr_del15                    0
arr_delay_group              0
arr_time_blk             14449
cancelled                14449
diverted                 14449
crs_elapsed_time         14447
actual_elapsed_time          0
air_time                     0
flights                  14449
distance                 14449
distance_group           14449
dep_delay_ind            14449
arr_delay_ind            14449
month                    14449
dtype: int64

In [181]:
14449/5819811

0.0024827266727390288

In [183]:
concatenated_df.distance.mean()

798.70867181082

In [187]:
(concatenated_df.arr_time-concatenated_df.dep_time).mean()

151.61819031127823